@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  user-select: none;
}

.clock-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 1px 1px #333;
  text-align: center;
  color: #eee;
}

.clock {
  font-size: 150px;
}

.user {
  font-size: 2.8rem;
}

small {
  font-size: 60px;
}

footer .who {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  padding-top: 35rem;
  color: whitesmoke;
}

.who a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
}

.who a:hover {
  border-bottom: none;
}


@media only screen and (max-width: 600px) {

  html {
  overflow-y: hidden;
  }
  
  .clock {
    font-size: 90px;
  }

  footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: flex-end;
    font-size: 1.8rem;
    padding-top: 35rem;
    color: whitesmoke;
  }

}
